.edit-top{
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  h1{
    font-size: 32px;
    font-weight: bold;
  }
}
.article-title{
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  h2{
    margin-left: -5%;
  }
  input, textarea{
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 2px 5px;
    border: 1px solid black;
    &:focus{
      border: 1px solid transparent;
      outline: 2px solid lightblue;
    }
  }
  input{
    height: 30px;
    font-size: 24px;
  }
  textarea{
    height: 100px;
    max-width: 100%;
    min-width: 100%;
    font-size: 16px;
  }
}

.article-text, .article-new{
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  h2{
    margin-left: -5%;
  }
  .article-area{
    border: 1px solid black;
    padding: 5%;
    .article-box{
      .textarea{
        min-height: 30px;
        margin-top: 15px;
        padding-left: 5px;
      }
      .heading{
        padding-bottom: 5px;
        border-bottom: 2px solid orange;
        font-weight: bold;
        font-size: 24px;
        letter-spacing: 2px;
      }
      .related{
        padding: 10px 20px;
        background-color: lightgray;
        color: black;
        border: 1px solid gray;
        h3{
          display: block;
          font-size: 20px;
          text-decoration:underline;
        }
        p{
          display: block;
          font-size: 14px;
        }
      }
      .button-area{
        display: flex;
        justify-content: flex-start;
        visibility: hidden;
        .forward, .backward, .remove{
          font-size: 14px;
          padding: 0 4px;
          background-color: lightgray;
          border: 1px solid gray;
          &:hover{
            cursor: pointer;
            opacity: 0.8;
          }
        }
      }
      &:hover{
        .button-area{
          visibility: visible;
        }
      }
    }
  }
  &__box{
    border: 1px solid black;
    padding: 10px;
    &--type{
      display: flex;
      justify-content: flex-start;
      .tab{
        height: 40px;
        width: 80px;
        background-color: lightgray;
        text-align: center;
        line-height: 40px;
        border: 1px solid gray;
        opacity: 0.6;
        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
      }
      .is-active{
        background-color: white;
        opacity: 1;
      }
    }
    .panel{
      display: none;
    }
    .is-show{
      display: block;
    }
    .selectbox{
      height: 30px;
      background-color: white;
    }
    .button-area{
      display: flex;
      width: 100%;
      justify-content: flex-end;
      #save-button, #cancel-button{
        height: 24px;
        width: 90px;
        margin: 5px 10px 0;
        line-height: 24px;
        text-align: center;
        border-radius: 4px;
        &:hover{
          cursor: pointer;
          opacity: 0.8;
        }
      }
      #save-button{
        background-color: lightblue;
      }
      #cancel-button{
        background-color: lightgray;
      }
    }
  }
  textarea, select{
    display: block;
    width: 100%;
    margin: 15px auto 0;
    padding: 2px 5px;
    &:focus{
      border: 1px solid transparent;
      outline: 2px solid lightblue;
    }
  }
}
.disabled-forward, .disabled-backward{
  opacity: 0.4;
  pointer-events: none;
}
